/*
 * Author: Alex Chen
 */
table 
{
  position:absolute;
  left:50px;
  text-align:center;
}

th
{
  height: 100px;
  width: 100px;
}

td
{
  height: 280px;
}

img
{
  height: 200px;
  width: 200px;
}

#input
{
  position:absolute;
  right: 400px;
  top: 150px;
  left: 700px;
}
