fieldset
{
  box-shadow: 10px 10px 5px #888888;
}

/* properties for the login title */
#loginname
{
  position:relative;
  top: 50px;
  left: 24%;
}

/* properties for the create an account title */
#createname
{
  position:relative;
  top: 11px;
  left: 51%;
}

/* properties for the login fieldset */
#login
{
  position: relative;
  left: 23%;
  top: 15px;
  width : 25%;
  height: 250px;
  border : 2px solid black;
  font-family : Helvetica;
  font-weight : bold;
  background-color: #F0FFF0;
}

/* properties for the create fieldset */
#create
{
  position: relative;
  left: 50%;
  top: -254.8px;
  width : 25%;
  height: 250px;
  border : 2px solid black;
  font-family : Helvetica;
  font-weight : bold;  
  background-color: #F0FFF0;
}


/* the margin for the input boxes */
#username,#password,#fullname,#email,#Username,#Password
{
  margin: 5px;
  width: 55%;
}

/* margin for the #password input box in the login fieldset */
#password
{
  margin-left: 7px;
}

/* margin for specific input box */
#fullname, #Username
{
  margin-left: 39px;rm
}

/* margin for the #Password input box in the create fieldset */
#Password
{
  margin-left: 40px;
}

/* margin for the form tables */
#input, #input2
{
  margin-left: 4%;
}

/* properties for the login submit button */
#loginbutton
{
  margin-left: 69%;
  margin-top: 3px;
  margin-bottom: 5px;
}

/* properties for the create submit button */
#createaccount
{
  margin-left: 61%;
  margin-top: 3px;
  margin-bottom: 5px;
}

#input label.error, #input2 label.error
{
  color : #f00;
  font-size : .8em;
  font-weight : bold;
  display : block;  /* Display's errors under fields */
}

/* border for the text boxes during an error */
#input input.error, #input select.error, #input2 input.error, #input2 select.error
{
  border : 2px solid red;
}

#errorContainer {
    position:relative;
    top: 20px;
    left: 40%;
    width: 24%;
    display: none;
    overflow: auto;
    background-color: #FFDDDD;
    border: 1px solid #FF2323;
    padding-top: 0;
}
 
#errorContainer label {
    float: none;
    width: auto;
}
