#loginname
{
  position:absolute;
  top: 26%;
  left: 25%;
}

#createname
{
  position:absolute;
  top: 26%;
  left: 50%;
}

#login
{
  position: absolute;
  left: 25%;
  top: 35%;
  width : 320px;
  height: 250px;
  border : 2px solid black;
  font-family : Helvetica;
  font-weight : bold;
  background-color: #D3D3D3;
}

#create
{
  position: absolute;
  left: 50%;
  top: 35%;
  width : 320px;
  height: 250px;
  border : 2px solid black;
  font-family : Helvetica;
  font-weight : bold;  
  background-color: #D3D3D3;
}


/* the margin for the input boxes */
#username,#password,#fullname,#email,#Username,#Password
{
  margin: 5px;
  width: 55%;
}

#password
{
  margin-left: 7px;
}

#fullname, #Username
{
  margin-left: 39px;rm
}

#Password
{
  margin-left: 40px;
}

#input, #input2
{
  margin-left: 4%;
}

/* properties for the submit button */
#loginbutton
{
  margin-left: 69%;
  margin-top: 3px;
  margin-bottom: 5px;
}

#createaccount
{
  margin-left: 61%;
  margin-top: 3px;
  margin-bottom: 5px;
}

