/*
 * Authors: Rajia Abdelaziz, Jeremey Daigneau, Madhu Prakash, Alex Chen
 * Created: February 20, 2016
 * Last Updated: 3/05/16 by Rajia Abdelaziz
*/

/*-------------------------------------- Overall style of each page --------------------------------------------------- */

html {
	background: url("gold-heart.jpg");
}

/*--------------------------------------- Styles for Home Page ---------------------------------------------------------*/

/* Styles for the header of the page (the div containing the navigation bar) */
.header {
     width: 100%;                 	/* sizes the div to the width of the screen*/
     height: 75px;               	/* sets the height of the header div to 75px*/
     background-size: 100%;       	/* ensures the picture fills the div*/
     background-repeat : no-repeat; /* ensures the picture doesn't repeat*/
}

/* Styles for the Navigation Bar */
.nav-bar ul {
    position: fixed;
    list-style-type: none;
    padding: 0;
    background-color: #000000;
    box-shadow: 0 5px 20px -5px ;
    opacity : .75;
    width: 100%;
    z-index: 110;   
}

.nav-bar li {
    float: left;
     border-right: 1px solid #bbb;
   
}

.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #111;
}

.nav-bar .active {
    background-color: #736F6E;
}

.nav-bar .top-right {
  float:right;
}
/* Styles for the Page's Text */
.flaireHeader {
	position: relative;
	color: #000000;
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 75px;
	z-index: -1;
}

.flaireSubText {
	color: #000000;	
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 50px;
}
/* Styles for the Contact Info Bar */

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: .75;
  width: 100%;
  background-color: #000000;
  height: 40px;
  margin-bottom: 45px;
}

.footer ul {
  	text-align: center;
  	background-color: #000000;
  	box-shadow: 10px 10px 20px -5px ;
  	list-style-type: none;
  	bottom: 0;
  
}
   
.footer li {
	background-color: #000000;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* ---------------------- Styles for About Page ------------------- */

.about-pic {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 250px;
}

.about-list {
  list-style-type: none;
}

.about-list li {
    margin-bottom: 10px;
    margin-left: 20px;
}

.image-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 60%;	
}

.about-image-content-a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 90%;	
  height: 300px;
}

.about-image-content-b {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 80%;	
  height: 400px;
}

.about-list li a {
    color: #000000;
    font-size: 30px;
    text-decoration: none;
}

/*-------------------------------Styles for Shop Page --------------------------------------*/  

.pictureBar {
  	height: 300px;
  	width: 100%;
  	text-align: center;
}

.pictureBar ul {
  	background-color: #000000;
	margin-top: 30px;
}

.pictureBar li {
	display: inline-block;
	margin-right: 75px;
	margin-left: 3px;
	margin-top: 30px;
	text-decoration: none;
	box-shadow: 0 5px 20px -5px ;
}

/* -----------------------------Styles for Next Page --------------------------------------*/
.main-content {
  width: 100%;
  height: 300px;
  margin-left: 10px;
  margin-right: 10px;
  clear: both;
}  

/* --------------------------- Styles for the FAQ Page ------------------------------------*/
.title{
	border: 25px solid white;
}
.title li {
    margin-bottom: 10px;
    margin-left: 20px;
}
.title h1{
	text-align: center;
}
.title li a {
    color: #000000;
    font-size: 30px;
    text-decoration: none;
}
.questions{
	margin-left: 30px;
	border: 25px solid black;
}
.questions h2{
	 font-weight: bold;
}
.questions p {
		margin-left: 50px;
	    font-family: "Times New Roman", Times, serif;
}
/* --------------------------- Styles for the About the Developers Page -------------------*/
.dev_title{
	border: 25px solid black;	
}
.dev_title h1{
	color:green;
	text-align: center;
}
.madhu{
	border: 25px solid white;
}
.madhu h2{
	color: teal;
	font-weight: bold;
}
.madhu p{
	font-family: "Times New Roman", Times, serif;
}
.madhu_pic{
	float: right;
    margin: 0 0 10px 10px;
	width: 160px;
    height: 210px;		
}
.rajia{
	border: 25px solid blue;
}
.rajia h2{
	color: teal;
	font-weight: bold;
}
.rajia_pic{
	float: right;
    margin: 0 0 10px 10px;
	width: 160px;
    height: 190px;	
}
.rajia p{
	font-family: "Times New Roman", Times, serif;
}
.alex{
	border: 25px solid white;
}
.alex_pic{
	float: right;
    margin: 0 0 10px 10px;
	width: 140px;
    height: 130px;	
}
.alex h2{
	color: teal;
	font-weight: bold;
}
.alex p{
	font-family: "Times New Roman", Times, serif;
}
.jeremy{
	border: 25px solid blue;
}
.jeremy_pic{
	float: right;
    margin: 0 0 10px 10px;
	width: 140px;
    height: 130px;	
}
.jeremy h2{
	color: teal;
	font-weight: bold;
}
.jeremy p{
	font-family: "Times New Roman", Times, serif;
}

/* ------------------------------Styles for the Set-Up Device Page ------------*/
.device_setup{
	border: 25px solid black;	
}
.device_setup h1{
	color:green;
	text-align: center;
}
.device_setup li{
	font-size: 130%;
	margin-left: 30px;
	margin-bottom: 30px;
}
.device_pic{
	width: 100px%;
  height: 100px;
}