


.product-div {
	background-color: #009ACD;
	width: 30%;
	border-radius: 25px;
	height: 350px;
	margin-left: 225px;
	margin-top: 20px;
	margin-right: 100px;
	float: left;
	box-shadow: 0 5px 20px -5px ;
}

.product-desc {
	border-radius: 25px;
	border: 2px solid #009ACD;
	width: 30%;
	height: 350px;
	float: right;
	margin-top: 20px;
	margin-right: 225px;
	box-shadow: 0 5px 20px -5px ;
	text-align: center;
}

#product-img {
	padding: 25px;
	display: block;
	margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
}