fieldset
{
  position: absolute;
  left: 500px;
  top: 250px;
  width : 500px;
  height: 110px;
  border : 2px solid black;
  font-family : Helvetica;
  font-weight : bold;
  background-color: #009ACD;
}

/* the margin for the input boxes */
#register
{
  margin: 5px;
  width: 250px;
}


#input
{
  margin-left: 4%
}

/* properties for the submit button */
#submit
{
  margin-left: 45%;
  margin-top: 3px;
  margin-bottom: 5px;
}

