
/* css for the registration page */

/*css for the Resistration main header */
h2
{
  position:absolute;
  left: 40%;
  top: 20%;
}

/* css for the info header*/
#infoheader
{
  position: absolute;
  left: 19%;
  top: 32%;
}

/*css for the medical conditions header */
#medheader
{
  position: absolute;
  left: 61%;
  top: 32%;
}

/* css for the information fieldset*/
#information
{
  position: absolute;
  left: 19%;
  top: 40%;
  width :41%;
  height: 200px;
  border : 2px solid black;
  font-family : Helvetica;
  font-weight : bold;
  background-color: #D3D3D3;
}

/* css for the medical fieldset*/
#Medical
{
  position: absolute;
  left: 61%;
  top: 40%;
  width :200px;
  height: 200px;
  border : 2px solid black;
  font-family : Helvetica;
  font-weight : bold;
  background-color: #D3D3D3;
}

/*css for the registration fieldset */
#registration
{
  position: absolute;
  left: 30%;
  top: 80%;
  width : 34%;
  height: 15%;
  border : 2px solid black;
  font-family : Helvetica;
  font-weight : bold;
  background-color: #D3D3D3;
}

/* the margin for the input boxes */
#register
{
  margin: 5px;
  width: 250px;
}

/* css for the forms that are on the same line to add a space between them */
#space
{
  margin-left: 2%;
}

/* css for the form boxes*/
#box
{
  margin-left: 5px;
  margin-bottom:15px;
}

/* css for the form boxes that are smaller*/
#smallbox
{
  margin-left: 5px;
  margin-bottom:10px;
  width: 25px;
}

/* css for the dob form*/
#dob
{
  margin-left: 5px;
  margin-bottom:15px;
  width: 100px;
}

/* css for the medical condition form boxes*/
#medical
{
  margin-left: 2px;
  margin-bottom:10px;
  width: 95%;
}

/*css for the information fieldset */
#input
{
  margin-left:2%;
}

/*css for the medical fieldset */
#input2
{
  margin-left: 4%;
}

/* properties for the submit button */
#submit
{
  margin-left: 43%;
  margin-top: 3px;
  margin-bottom: 5px;
}

