#information
{
  position: absolute;
  left: 300px;
  top: 250px;
  width :600px;
  height: 200px;
  border : 2px solid black;
  font-family : Helvetica;
  font-weight : bold;
  background-color: #000000;
}

#Medical
{
  position: absolute;
  left: 900px;
  top: 250px;
  width :200px;
  height: 200px;
  border : 2px solid black;
  font-family : Helvetica;
  font-weight : bold;
  background-color: #000000;
}

#registration
{
  position: absolute;
  left: 400px;
  top: 500px;
  width : 500px;
  height: 110px;
  border : 2px solid black;
  font-family : Helvetica;
  font-weight : bold;
  background-color: #000000;
}

/* the margin for the input boxes */
#register
{
  margin: 5px;
  width: 250px;
}

#space
{
  margin-left: 2%;
}

#box
{
  margin-left: 5px;
  margin-bottom:15px;
}

#smallbox
{
  margin-left: 5px;
  margin-bottom:10px;
  width: 25px;
}

#dob
{
  margin-left: 5px;
  margin-bottom:15px;
  width: 100px;
}

#medical
{
  margin-left: 2px;
  margin-bottom:10px;
}

#input
{
  margin-left:2%;
}

#input2
{
  margin-left: 4%;
}

/* properties for the submit button */
#submit
{
  margin-left: 45%;
  margin-top: 3px;
  margin-bottom: 5px;
}

legend, label
{
  color:white;
}
