

html, body {            /* overall style of each page */
  
  margin: 0;            /* set margins to 0, so there's no wasted white space near the edges of the page */
  background-color: #cccccc; /* sets background color of each page to a light gray */
}

.page-header {
                                  /* image obtained from takeadaytrip.com http://takeadaytrip.com/great-places/massachusetts/horn-pond-woburn-winchester-ma/
                                  /*Directs page to where the picture is located*/
    /* background-image: url('flaireLogo.png');*/
     margin: auto;                /*Ensures picture doesn't stretch outside div*/
     width: 100%;                 /* sizes the div to the width of the screen*/
     height: 300px;               /* sets the height of the header div to 300px*/
     background-size: 100%;       /* ensures the picture fills the div*/
     background-repeat : no-repeat; /* ensures the picture doesn't repeat*/
     /*box-shadow: 0 -5px 20px 5px ;*/ /* places a small shadow below the div, giving it some depth */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009ACD;
    box-shadow: 0 5px 20px -5px ;
    float:right;
    opacity : .75;
    width: 78%;
    margin-top: 10px;
    margin-right: 10px;
   
}

.logo-div {
    float: left;
    width: 20%;
    background-color: #009ACD;
    opacity : .75;
    box-shadow: 0 5px 20px -5px ;
    margin-top: 10px;
    margin-left: 10px;

}

li {
    float: left;
   
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #003FFF;
}

.top-right {
  float:right;

}

#logo {
   display: block;
    margin-left: auto;
    margin-right: auto;
}
  /*height:42px;
  width: 100px;*/
}